{% extends "layout.jinja2" %}

{% block content %}
<div class="bg-faded p-4 my-4">
  <div class="text-center mt-4">
    <div class="text-heading text-muted text-lg">page not found</div>
    <h1 class="my-2">404</h1>
    <div class="text-heading text-muted text-lg">
      <strong>The page you are looking for does not exist.</strong>
    </div>
  </div>
</div>
{% endblock content %}
