{% extends "layout.jinja2" %}

{% block content %}

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">Our
    <strong>Squad</strong>
  </h2>
  <hr class="divider">
  <div class="row col-md-8 mx-auto">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="../static/img/Joseph.jpeg" alt="">
        <div class="card-body text-center">
          <h4 class="card-title m-0">
            <a class="text-danger" href="https://github.com/jjskim" target="_blank">Joseph Kim</a>
          </h4>
            <small class="text-muted">Joseph graduated from the University of Washington with a degree in Mathematics. His hobbies include include music, puzzles, and learning through MOOCs.</small>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="../static/img/megan.jpg" alt="">
        <div class="card-body text-center">
          <h4 class="card-title m-0">
            <a class="text-danger" href="https://github.com/musflood" target="_blank">Megan Flood</a>
          </h4>
            <small class="text-muted">Megan is a developer with a background in Chemistry. She loves to work with computers, do art, play video games, and read science fiction.</small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <img class="card-img-top" src="../static/img/nathan.jpg" alt="">
        <div class="card-body text-center">
          <h4 class="card-title m-0">
            <a class="text-danger" href="https://github.com/nathancmoore" target="_blank">Nathan Moore</a>
          </h4>
            <small class="text-muted">Nathan decided to start a career in coding after experiences in research science left him unsatisfied. He is a classically-trained cellist and an avid opera fan.</small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <img class="card-img-top" src="../static/img/mark_copy.jpg" alt="">
        <div class="card-body text-center">
          <h4 class="card-title m-0">
            <a class="text-danger" href="https://github.com/markreynoso" target="_blank">Mark Reynoso</a>
          </h4>
            <small class="text-muted">Mark found his way to coding from the nonprofit world. After helping individuals discover their own passions, Mark made a move to explore his love for building things and solving problems with code.</small>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
