{% extends "layout.jinja2" %}

{% block content %}

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">States per Complexity
  </h2>
  <hr class="divider">
  <canvas id="statesChart"></canvas>
</div>

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">Time to Solve Each Complexity
  </h2>
  <hr class="divider">
  <canvas id="timeChart"></canvas>
</div>

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">Moves Taken for Each Complexity
  </h2>
  <hr class="divider">
  <canvas id="movesChart"></canvas>
</div>

{% endblock %}
 