{% extends "layout.jinja2" %}

{% block content %}

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0"><strong>States</strong> per Complexity
  </h2>
  <hr class="divider">
  <canvas id="statesChart"></canvas>
</div>

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0"><strong>Time</strong> to Solve Each Complexity
  </h2>
  <hr class="divider">
  <canvas id="timeChart"></canvas>
</div>

<div class="bg-faded p-4 my-4">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0"><strong>Moves</strong> Taken for Each Complexity
  </h2>
  <hr class="divider">
  <canvas id="movesChart"></canvas>
</div>

{% endblock %}
 