<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property=“og:title” content=“Electric Slide” />
    <meta property=“og:type” content=“website” />
    <meta property=“og:image” content=“http://mypuzzle.org/app/sliding/slide-3x3.jpg” />
    <meta property=“og:url” content=“electric-slide.herokuapp.com” />

    <link rel="icon" type="image/x-icon" href="{{ request.static_url('electric_slide:static/img/favicon.png') }}">

    <title>Electric Slide</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ request.static_url('electric_slide:static/business-casual.css' )}}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none text-heading" href="#">Electric Slide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item {% if title == 'home' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{{ request.route_url('home')}}">Home
                {% if title == 'home' %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
            <li class="nav-item {% if title == 'data' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{{ request.route_url('data')}}">Data
              {% if title == 'data' %}
                <span class="sr-only">(current)</span>
              {% endif %}
              </a>
            </li>
            <li class="nav-item {% if title == 'about' %}active{% endif %} px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{{ request.route_url('about')}}">About
                {% if title == 'about' %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <!-- /.container -->

    <footer class="bg-faded text-center py-5">
      <div class="container">
        <p class="m-0">&copy; Electric Slide 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    {% if title == 'data' %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="{{ request.static_url('electric_slide:static/data-charts.js' )}}"></script>
      <script type="text/javascript">populateCharts()</script>
    {% endif %}
    {% if title == 'home' %}
      <script src="{{ request.static_url('electric_slide:static/puzzle.js' )}}"></script>
    {% endif %}

  </body>

</html>

